###############################
# Arquivos e pastas do Python #
###############################

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.Python

########################
# Ambientes virtuais   #
########################

venv/
venv312_mp/
.venv/
env/

########################
# Jupyter / Notebooks  #
########################

.ipynb_checkpoints/
*.nbconvert.ipynb

########################
# Configurações locais #
########################

.env
.env.*
*.log
logs/

########################
# Dados e datasets     #
########################

# Pasta genérica de dados (ajuste se quiser versionar algo específico)
data/



########################
# Resultados / saídas  #
########################

results/*.npy
results/*.npz
results/*.png
results/*.jpg
results/*.jpeg

########################
# Ferramentas / IDE    #
########################

.vscode/
.idea/
.DS_Store
Thumbs.db

########################
# Outros               #
########################

*.tmp
*.bak
*.swp
*.swo


